@using OnlineStore.Models.Domain
@model OnlineStore.Models.View.HomePageViewModel

@section Header {
    <h1>Список товаров</h1>
}

@if (Model.Products is not null && Model.Products.Count > 0)
{
    <ol class="list-group list-group-numbered">
        @foreach (Product product in Model.Products)
        {
            <li class="list-group-item">
                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                    @product.Name
                </a>
            </li>
        }
    </ol>

    <nav class="mt-3">
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <div class="alert alert-danger">
        Товаров пока что нет :(
    </div>
}
